<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>collapsibles</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseOne">
					Basic Condition
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
                <h4>Address entered: {{address}}</h4>
                <h4>Request time: {{curr_time}}</h4>
                <p>
                    <ul>
                        <li>Race
                            <ul>
                                <li> White Population: {{white_pop_pct}} %</li>
                                <li> Black Population: {{black_pop_pct}} %</li>
                                <li> Asian Population: {{asian_pop_pct}} %</li>
                                <li> Hispanic Population: {{hispanic_pop_pct}} %</li>
                              </ul>
                        </li>
                        <li>Age
                          <ul>
                            <li>Median Age: {{median_age}} </li>
                          </ul>
                        </li>
                        <li>Economics
                            <ul>
                              <li>Gini Index: {{gini_index}} </li>
                              <li>Poverty Rate: {{poverty_rate}} %</li>
                            </ul>
						</li>
						<li>Housing
                            <ul>
                              <li>Median Rent: $ {{median_rent}} </li>
                              <li>Median Housing Value: $ {{median_housing_value}} </li>
                            </ul>
                        </li>
                </p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseTwo">
					Amenity
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse in">
			<div class="panel-body">
                <p>
                    <ul>
                        <li>Groceries
                            <ul>
                                <li>{{nearest_supermarket1}} : {{distance_supermarket1}} m</li>
                                <li>{{nearest_supermarket2}} : {{distance_supermarket2}} m</li>
                                <li>{{nearest_supermarket3}} : {{distance_supermarket3}} m</li>
                              </ul>
                        </li>
                        <li>Convenience
                          <ul>
							<li>{{nearest_market1}} : {{distance_market1}} m</li>
							<li>{{nearest_market2}} : {{distance_market2}} m</li>
							<li>{{nearest_market3}} : {{distance_market3}} m</li>
                          </ul>
                        </li>
                        <li>Fast-food
                            <ul>
							<li>{{nearest_fast_food1}} : {{distance_fast_food1}} m</li>
							<li>{{nearest_fast_food2}} : {{distance_fast_food2}} m</li>
							<li>{{nearest_fast_food3}} : {{distance_fast_food3}} m</li>
                            </ul>
                        </li>
                </p>
			</div>
		</div>
	</div>
	<!-- <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseThree">
					Public Transportation
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
								<p>
										<ul>
												<li>Bus or trolley stops
														<ul>
																<li>{{bus_stop1}} : {{distance_bus1}} m</li>
																<li>{{bus_stop2}} : {{distance_bus2}} m</li>
																<li>{{bus_stop3}} : {{distance_bus3}} m</li>
																<li>{{bus_stop4}} : {{distance_bus4}} m</li>
																<li>{{bus_stop5}} : {{distance_bus5}} m</li>
															</ul>
												</li>
												<li>Rail Stations
													<ul>
							                  <li>{{rail_stop1}} : {{distance_rail1}} m</li>
						                   	<li>{{rail_stop2}} : {{distance_rail2}} m</li>
													</ul>
												</li>
								</p>
			</div>
		</div>
	</div> -->
	<!-- <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseFour">
					Crime
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				lalalalallalla
			</div>
		</div>
	</div> -->
</div>

</body>
</html>
