<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<style>
	#map { position: relative; width: 640px; height: 480px; float: right; margin-right: 15px;}
</style>
<div id="map"></div>
<script>
    mapboxgl.accessToken = '{{ mapbox_token }}';
    geojson = {{ geojson_str|safe }};

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
            center: [{{ center_lng }}, {{ center_lat }}],
        zoom: 15
    });

    // Get map bounds
    var coordinates = geojson.features[0].geometry.coordinates;
    var bounds = coordinates.reduce(function (bounds, coord) {
            return bounds.extend(coord);
        }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
     
    map.fitBounds(bounds, {
            padding: 150
        });
    map.on('load', function () {
        map.addSource('route', {
            'type': 'geojson',
            'data': geojson
        });
        map.addLayer({
            'id': 'route',
            'type': 'line',
            'source': 'route',
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': '#888',
                'line-width': 8
            }
        });
    });
</script>
