<!DOCTYPE html>
<html lang="">
<head>
<title>Find A Liveable Place</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{ url_for('static', filename='layout/styles/layout.css') }}">
<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('static/images/Philadelphia.jpg');"> 
  <div id="pageintro" class="hoc clear"> 
    <article>
      <h3 class="heading">Find Livable Place in Philadelphia</h3>
      <p >Hi! We provide information about demographic and social, 
        nearby amenities, transportation, crime for any place in Philadelphia. Try put in an address below.</p>
      <p>You may want to search:</p>
      <ul>
        <p>Center City: 210 W Rittenhouse Square, Philadelphia</p>
        <p>University City: 3900 Chestnut Street, Philadelphia</p>
        <p>North Philadelphia: 1801 N Broad St, Philadelphia</p>
        <!-- <p>South Philadelphia: 2140 S 10th St, Philadelphia</p> -->
      </ul>
      <footer>
        <form class="group" action="{{ url_for('get_info') }}" method="get">
          <fieldset>
            <legend>Address</legend>
            <input type="text" name="address" id="address" placeholder="Find an address&hellip;">
            <!-- <input type="submit" value="Search"> -->
            <button class="fas fa-sign-in-alt" type="submit" title="Submit"><em>Submit</em></button>
          </fieldset>
        </form>
      </footer>
    </article>
  </div>
</div>
</body>
</html>