<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Find a liveab place</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
.container {
    max-width: 1280px;
}

</style>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>
    <section class="section hero section-a">
        <div class="container">
            <div class="row">
                <h2>Amenities around the address</h2>
                {% include 'input.html' %}
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
          <div class="row">
              <div class="five columns address-list">
                <h6 class="heading">Race</h6>
                <p>
                  <ul>
                    <li> White Population: {{white_pop_pct}} %</li>
                    <li> Black Population: {{black_pop_pct}} %</li>
                    <li> Asian Population: {{asian_pop_pct}} %</li>
                    <li> Hispanic Population: {{hispanic_pop_pct}} %</li>
                  </ul>
                </p>
              </div>

              <div class="seven columns">
                  <!-- <h3><b>{{ num_buildings }}</b> vacant buildings</h3> -->
                  {{ html_map_poi | safe }}
              </div>
          </div>
        </div>
    </section>
    <section style="margin-top: 15px;">
        <div class="container">
            <div class="row">
                <!-- {{ plot_html | safe }} -->
            </div>
        </div>
    </section>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

