<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Transportation</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"> -->
</head>  
<section  style="margin-left: 70px;">
  <div id="container" style="width:500px">
    <div id="header" style="background-color:a8dadc;">
        <h1>Transportation</h1></div>
        <div id="report">
          {% include 'input.html' %}
           {{ html_trans_content | safe }}
        </div>
  </div>
  <div id="map" style="position:absolute; left:620px; top:90px; height:620px;width:810px">
    {{ html_trans_map | safe }}
  </div>
    <div style = "position:absolute;left:70px; top: 800">
        <form method="get" action="{{url_for('get_info')}}">
         <input type="hidden"
            name="address"
            value={{address}}>
         <button class="button-primary" type="submit">Basic Info</button>
        </form>
    </div>
    <div style = "position:absolute;left:255px; top: 800">
        <form method="get" action="{{url_for('get_shooting')}}">
         <input type="hidden"
            name="address"
            value={{address}}>
         <button class="button-primary" type="submit">Crime Density</button>
        </form>
    </div>
    <div style = "position:absolute;left:435px; top: 800">
      <form method="get" action="{{url_for('index')}}">
       <button class="button-primary" type="submit">Main Page</button>
      </form>
    </div>
</section>


</html>