<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>collapsibles</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-group" id="accordion"> 
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseOne">
					Public Transportation
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
								<p>                 <h4>In  {{address}} :</h4>
									<br>
										<ul>
												<li>Bus or trolley stops
														<ul>
																<li>{{bus_stop1}} : {{distance_bus1}} m</li>
																<li>{{bus_stop2}} : {{distance_bus2}} m</li>
																<li>{{bus_stop3}} : {{distance_bus3}} m</li>
																<li>{{bus_stop4}} : {{distance_bus4}} m</li>
																<li>{{bus_stop5}} : {{distance_bus5}} m</li>
															</ul>
												</li>
												<br>
												<li>Rail Stations
													<ul>
							                  <li>{{rail_stop1}} : {{distance_rail1}} m</li>
						                   	<li>{{rail_stop2}} : {{distance_rail2}} m</li>
													</ul>
												</li>
								</p>
			</div>
		</div>
	</div>
</div>

</body>
</html>
