<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Transportation</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}" !important>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>  
<section  style="margin-left: 70px;">
  <div id="container" style="width:500px">
    <div id="header" style="background-color:a8dadc;">
        <h1 style="font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;">Transportation</h1></div>
        <div id="report">
        <form action="{{ url_for('get_transit') }}" method="get">
            <div>
                <label for="address">Find an address or place</label>
            </div>
            <input type="text" name="address" id="address">
            <input type="submit" value="Search">
        </form>
          <br>
          <br>
           {{ html_trans_content | safe }}
        </div>
  </div>
  <div id="map" style="position:absolute; left:620px; top:90px; height:620px;width:810px">
    {{ html_trans_map | safe }}
  </div>
    <div style = "position:absolute;left:620px; top: 30px">
        <form method="get" action="{{url_for('get_info')}}">
         <input type="hidden"
            name="address"
            value="{{address}}">
         <button type="submit" class="button">Basic Info</button>
        </form>
    </div>
    <div style = "position:absolute;left:800px; top: 30px">
        <form method="get" action="{{url_for('get_shooting')}}">
         <input type="hidden"
            name="address"
            value="{{ address }}">
         <button type="submit" style="  display: inline-block;
         height: 38px;
         padding: 0 30px;
         color: #555;
         text-align: center;
         font-size: 11px;
         font-weight: 600;
         line-height: 38px;
         letter-spacing: .1rem;
         text-transform: uppercase;
         text-decoration: none;
         white-space: nowrap;
         background-color: transparent;
         border-radius: 4px;
         border: 1px solid #bbb;
         cursor: pointer;
         box-sizing: border-box; ">Crime Density</button>
        </form>
    </div>
    <div style = "position:absolute;left:1000px; top: 30px">
      <form method="get" action="{{url_for('index')}}">
       <button type="submit" style="  display: inline-block;
       height: 38px;
       padding: 0 30px;
       color: #555;
       text-align: center;
       font-size: 11px;
       font-weight: 600;
       line-height: 38px;
       letter-spacing: .1rem;
       text-transform: uppercase;
       text-decoration: none;
       white-space: nowrap;
       background-color: transparent;
       border-radius: 4px;
       border: 1px solid #bbb;
       cursor: pointer;
       box-sizing: border-box; ">Main Page</button>
      </form>
    </div>
</section>

</html>